<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Multi_tab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Multi_tab.Properties.Settings.school_management_systemConnectionString"
            connectionString="server=localhost;User Id=root;password=mysql;database=school_management_system"
            providerName="MySql.Data.MySqlClient" />
        <add name="Multi_tab.Properties.Settings.school_registrationConnectionString"
            connectionString="server=localhost;User Id=root;password=mysql;Persist Security Info=True;database=school_registration"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <Multi_tab.Properties.Settings>
            <setting name="color" serializeAs="String">
                <value>GrayText</value>
            </setting>
        </Multi_tab.Properties.Settings>
    </userSettings>
</configuration>